@import url("https://fonts.google.com/specimen/Lato?selection.family=Lato:100,300,400,700,900");
.link {
  color: #51DDFC;
  font-weight: 700; }

* {
  box-sizing: border-box;
  color: #939393; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

p {
  line-height: 1.4545454545;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container {
  margin: 0;
  padding: 1em 1.125em; }
  @media (min-width: 769px) {
    .container {
      padding: 1em 2.1875em; } }

.theme__colors.grid__col--12 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.5em;
  background-color: #80E8D1;
  margin: 0.1875em 0;
  border: none;
  color: #838183;
  font-weight: 900; }

.theme__colors.grid__col--6 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.5em;
  background-color: #3FABCA;
  margin: 0.1875em 0;
  border: none;
  color: #838183;
  font-weight: 900; }

.theme__colors.grid__col--4 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.5em;
  background-color: #51DDFC;
  margin: 0.1875em 0;
  border: none;
  color: #838183;
  font-weight: 900; }

.theme__colors.grid__col--3 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.5em;
  background-color: #DEB2EE;
  margin: 0.1875em 0;
  border: none;
  color: #838183;
  font-weight: 900; }

.theme__colors.grid__col--5 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.5em;
  background-color: #88D9A0;
  margin: 0.1875em 0;
  border: none;
  color: #838183;
  font-weight: 900; }

.theme__colors.grid__col--7 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.5em;
  background-color: #EC9FA3;
  margin: 0.1875em 0;
  border: none;
  color: #838183;
  font-weight: 900; }

.theme__colors.grid__col--8 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.5em;
  background-color: #FD9F85;
  margin: 0.1875em 0;
  border: none;
  color: #838183;
  font-weight: 900; }

.grid__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 10px;
  font-size: 1.0625em; }
  @media (min-width: 769px) {
    .grid__row {
      display: flex;
      flex-direction: row;
      justify-content: center; } }
.grid__col--1 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--1 {
      text-align: center;
      margin-top: 0;
      flex-basis: 8.3333333333%; } }
.grid__col--2 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--2 {
      text-align: center;
      margin-top: 0;
      flex-basis: 16.6666666667%; } }
.grid__col--3 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--3 {
      text-align: center;
      margin-top: 0;
      flex-basis: 25%; } }
.grid__col--4 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--4 {
      text-align: center;
      margin-top: 0;
      flex-basis: 33.3333333333%; } }
.grid__col--5 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--5 {
      text-align: center;
      margin-top: 0;
      flex-basis: 41.6666666667%; } }
.grid__col--6 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--6 {
      text-align: center;
      margin-top: 0;
      flex-basis: 50%; } }
.grid__col--7 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--7 {
      text-align: center;
      margin-top: 0;
      flex-basis: 58.3333333333%; } }
.grid__col--8 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--8 {
      text-align: center;
      margin-top: 0;
      flex-basis: 66.6666666667%; } }
.grid__col--9 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--9 {
      text-align: center;
      margin-top: 0;
      flex-basis: 75%; } }
.grid__col--10 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--10 {
      text-align: center;
      margin-top: 0;
      flex-basis: 83.3333333333%; } }
.grid__col--11 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--11 {
      text-align: center;
      margin-top: 0;
      flex-basis: 91.6666666667%; } }
.grid__col--12 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 769px) {
    .grid__col--12 {
      text-align: center;
      margin-top: 0;
      flex-basis: 100%; } }

@media (min-width: 769px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px; } }

@media (min-width: 769px) {
  .grid__col--12 {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.headline--primary {
  color: #58E1C1;
  font-size: 1.625em;
  padding-left: 0.375em; }

.headline--secondary {
  text-align: left;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0.75em 0;
  font-weight: 100; }

.blockquote {
  font-weight: 100;
  margin: 1.0625em 0.875em;
  font-size: 1.3125em;
  padding-left: 0.75em;
  border-left: 7px solid #58E1C1;
  border-radius: 5px 0px 0px 5px;
  font-style: italic; }

.nav {
  padding-left: 0; }
  @media (min-width: 769px) {
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: center; } }
  .nav li {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    text-align: center;
    padding: 0.5em 1.5625em;
    margin: 0.5em;
    margin-left: 0.5em; }

.nav a:hover {
  text-decoration: none;
  color: white;
  background-color: #80E8D1;
  padding: 1em 8em;
  border-radius: 5px;
  margin: 1em -8em;
  margin-right: -8em; }

@media (min-width: 769px) {
  .nav a:hover {
    padding: 1rem 1rem;
    margin: 1rem -1rem; } }
.img--logo {
  display: block;
  margin: auto;
  padding: auto; }

.img--frame {
  border: 1px solid rgba(0, 0, 0, 0.219);
  padding: 0.625em;
  width: 100%; }

.img--avatar {
  display: block;
  margin: auto; }
  @media (min-width: 1100px) {
    .img--avatar {
      width: 50%; } }

.btn--default {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.9375em;
  text-transform: uppercase;
  background-color: #51DDFC;
  margin: 1.5625em 0;
  border: none;
  color: white; }

.btn--success {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.9375em;
  text-transform: uppercase;
  background-color: #63CC82;
  margin: 1.5625em 0;
  border: none;
  color: white; }

.btn--error {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.9375em;
  text-transform: uppercase;
  background-color: #E4757A;
  margin: 1.5625em 0;
  border: none;
  color: white; }

.btn--warning {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.9375em;
  text-transform: uppercase;
  background-color: #FD7856;
  margin: 1.5625em 0;
  border: none;
  color: white; }

.btn--info {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  padding: 0.9375em;
  text-transform: uppercase;
  background-color: #927BC1;
  margin: 1.5625em 0;
  border: none;
  color: white; }

@media (min-width: 769px) {
  .btn--default {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    padding: 0.9375em;
    text-transform: uppercase;
    background-color: #51DDFC;
    margin: 1.5625em;
    border: none;
    color: white; }

  .btn--success {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    padding: 0.9375em;
    text-transform: uppercase;
    background-color: #63CC82;
    margin: 1.5625em;
    border: none;
    color: white; }

  .btn--error {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    padding: 0.9375em;
    text-transform: uppercase;
    background-color: #E4757A;
    margin: 1.5625em;
    border: none;
    color: white; }

  .btn--warning {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    padding: 0.9375em;
    text-transform: uppercase;
    background-color: #FD7856;
    margin: 1.5625em;
    border: none;
    color: white; }

  .btn--info {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    padding: 0.9375em;
    text-transform: uppercase;
    background-color: #927BC1;
    margin: 1.5625em;
    border: none;
    color: white; } }
.form {
  display: flex;
  flex-direction: column; }
  .form .img--avatar {
    margin: 0.75em auto; }
  .form .form__label--hidden {
    display: none; }
  .form .form__input {
    border-style: none;
    border-bottom: 8px solid #51DDFC;
    padding: 0.9375em;
    margin: 0.5em 0.9375em; }
  .form .form__input:focus {
    outline: none; }

.form__input:focus::-webkit-input-placeholder {
  color: transparent; }

/*# sourceMappingURL=styles.css.map */
