// btn and link colors

@each $theme, $color in $ui-colors {
    .btn--#{$theme} {
        @include border-radius(5px);
        display: block;
        width: 100%;
        padding: em(15px);
        text-transform: uppercase;
        background-color: $color;
        margin: em(25px) 0;
        border: none;
        color: white;
    }
}
.link {
    @extend %link-prop;
}

@include mq(medium) {
    @each $theme, $color in $ui-colors {
        .btn--#{$theme} {
            @include border-radius(5px);
            @include flexy(row, center) {
            font-weight: $font-weight--ultra-bold;
            padding: em(15px);
            text-transform: uppercase;
            background-color: $color;
            margin: em(25px);
            border: none;
            color: white;
            }
        }
    }
}