// Images


.img--logo {
    display: block;
    margin: auto;
    padding: auto;
}

.img--frame {
    border: 1px solid rgba(0, 0, 0, 0.219);
    padding: em(10px);
    width: 100%;
}

.img--avatar {
    display: block;
    margin: auto;
    @include mq(large) {
        width: 50%;
    }

}