// Navigation

.nav{
    padding-left: 0;
    @include mq(medium) {
        @include flexy(row, center); 
    }

    li {
        @include border-radius(5px);
        text-align: center;
        padding: em(8px) em(25px);
        margin: em(8px);
        margin-left: em(8px);
        }
}

.nav a:hover {
    text-decoration: none;
    color: white;
    background-color: $vista-blue;
    padding: 1em 8em;
    border-radius: 5px;
    margin: 1em -8em;
    margin-right: -8em;
  }
  
  @include mq(medium) {
    .nav a:hover {
      padding: 1rem 1rem;
      margin: 1rem -1rem;
    }
  }